@charset "UTF-8"

body{
    background-color: rgb(6, 240, 6);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(16, 119, 145);
}
h1#princi{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(62, 11, 121);
}
.basico{
    color:chartreuse;
    font-weight: bold;
    font-style: italic;
}
.intermediario{
    color: rgb(255, 230, 3);
}
.avancado{
    color: brown;
}
.destaque{
    background-color: rgba(0, 0, 255, 0.233);
    text-align: center;
}